<% if @posts.any? %>
	<% @posts.each do |post| %>
		<p><%= post.title %></p>
		<p><%= post.description %></p>
		<% if post.image.present? %>
			<p><%= image_tag post.image.url(:thumb), class: 'uploaded-pic' %></p>
		<% end %>
		<a href="https://twitter.com/intent/tweet?text=<%= post.title %>: <%= post.description %>" class="twitter-hashtag-button">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<% end %>
<% else %>
	no posts yet.
<% end %>